<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OK</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/3.2.0/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='html5shiv/3.7.2/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h3>漫画抓取器</h3>
      </div>
      <center><h4>抓取完成</h4></center>
      <p>共{{ info.t }}页</p>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='jquery/1.11.1/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/3.2.0/js/bootstrap.min.js') }}"></script>
  </body>
</html>